@model PartyTavern.Models.Game

@{
    ViewData["Title"] = "Usuń grę";
}

<h1>@ViewData["Title"]</h1>

<h3>Na pewno chcesz usunąć grę: @Model.Name?</h3>

<form asp-action="DeleteGame" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Tak, usuń</button>
    <a href="@Url.Action("Games")" class="btn btn-secondary">Anuluj</a>
</form>
